
body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    <background-color> rgb(105,162,132);
<background-color> linear-gradient(90deg, rgba(105,162,132,1) 29%, rgba(27,72,52,1) 61%);
<font> helvetica 
  }
  
  h1 {
    font-style: bold;
    color: #95aa8f;
  }